{% extends "base.html" %}
{% block conteudo %}
	<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>

<h1>Clientes</h1>

<a class="btn btn-default btn-sm" href={% url "pessoas_clientes_inserir" %}>
	Inserir novo Cliente
</a>

<br /><br />
<form class="navbar-form navbar-left" role="search" method="post" action".">{% csrf_token %}
  <div class="form-group">
    <input id="id_busca" name="busca" type="text" class="form-control" placeholder="Digite o nome do cliente">
  </div>
  <button type="submit" class="btn btn-default">Buscar</button>
</form>
{% if pessoas %}
	<table style="width:80%">
	  <tr>
	    <th>ID</th>
	    <th>Nome</th>
	    <th>Visualizar</th>		
	    <th>Editar</th>
	    <th>Excluir</th>
	  </tr>
		
		{% for pessoa in pessoas %}
		  	<tr>
		  		<td> {{ pessoa.id }} </td>
		  		<td> {{ pessoa.nome }} </td>
		  		<td>
		        	<a class="btn btn-default btn-xs" href={% url "pessoas_clientes_visualizar" pessoa.id %}>
		        		<span class="glyphicon glyphicon-eye-open" aria-hidden="true" />
		        	</a>
		      	</td>
		  		<td>
		        	<a class="btn btn-default btn-xs" href={% url "pessoas_clientes_editar" pessoa.id %}>
		        		<span class="glyphicon glyphicon-pencil" aria-hidden="true" />
		        	</a>
		      	</td>
		  		<td>
		        	<a class="btn btn-default btn-xs" href={% url "pessoas_clientes_excluir" pessoa.id %}>
						<span class="glyphicon glyphicon-remove" aria-hidden="true" />
					</a>
		      	</td>
	  		</tr>
	  		{% endfor %}
	</table>
{% else %}
			<br /><br />
  			Nenhum Cliente encontrado.
	{% endif %}
{% endblock conteudo %}