{% extends "base.html" %}
{% block conteudo %}
	<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>

<h1> {{obj.verbose_plural}} </h1>

<a class="btn btn-default btn-sm" href={{ obj.url_inserir }}>
	Inserir {{obj.verbose}}
</a>

<br /><br />
<form class="navbar-form navbar-left" role="search" method="post" action".">{% csrf_token %}
  <div class="form-group">
    <input id="id_busca" name="busca" type="text" value='{{busca}}' class="form-control" placeholder="Digite o nome" />
  </div>
  <button type="submit" class="btn btn-default">Buscar</button>
</form>
{% if pessoas %}
	<table style="width:80%">
	  <tr>
	    <th>ID</th>
	    <th>Nome</th>
	    <th>Visualizar</th>		
	    <th>Editar</th>
	    <th>Excluir</th>
	  </tr>
		
		{% for pessoa in pessoas %}
		  	<tr>
		  		<td> {{ pessoa.id }} </td>
		  		<td> {{ pessoa.nome }} </td>
		  		<td>
		        	<a class="btn btn-default btn-xs" href={{ pessoa.url_visualizar}}>
		        		<span class="glyphicon glyphicon-eye-open" aria-hidden="true" />
		        	</a>
		      	</td>
		  		<td>
		        	<a class="btn btn-default btn-xs" href={{ pessoa.url_editar}}>
		        		<span class="glyphicon glyphicon-pencil" aria-hidden="true" />
		        	</a>
		      	</td>
		  		<td>
		        	<a class="btn btn-default btn-xs" href={{ pessoa.url_excluir}}>
						<span class="glyphicon glyphicon-remove" aria-hidden="true" />
					</a>
		      	</td>
	  		</tr>
	  		{% endfor %}
	</table>
{% else %}
			<br /><br />
  			Nenhum {{ obj.verbose.lower }} encontrado.
	{% endif %}
{% endblock conteudo %}