{% extends "base.html" %} {% block conteudo %}

<h1 align="center">Visualizar {{ obj.verbose }}</h1>
<dl class="dl-horizontal">

	<dt>ID</dt>
	<dd>{{ pessoa.pk }}</dd>

	<dt>Nome</dt>
	<dd>{{ pessoa.nome }}</dd>

	{% if pessoa.data_nascimento %}
	<dt>Data de nascimento</dt>
	<dd>{{ pessoa.data_nascimento|date:"d/m/Y" }}</dd>
	{% endif %}
	
	{% if pessoa.email %}
	<dt>E-mail</dt>
	<dd>{{ pessoa.email }}</dd>
	{% endif %}
	
	{% if pessoa.cep %}
	<dt>CEP</dt>
	<dd>{{ pessoa.cep }}</dd>
	{% endif %}
	
	{% if pessoa.numero %}
	<dt>Número</dt>
	<dd>{{ pessoa.numero }}</dd>
	{% endif %}
	
	{% if pessoa.complemento %}
	<dt>Complemento</dt>
	<dd>{{ pessoa.complemento }}</dd>
	{% endif %}
	
	{% if pessoa.observacao %}
	<dt>Observação</dt>
	<dd>{{ pessoa.observacao }}</dd>
	{% endif %}
	
	{% for t in pessoa.telefones.all %}
	<dt>Telefone</dt>
	<dd>{{t}} {{t.observacao}}</dd>
	{% endfor %}
</dl>


<input type="submit" value="Voltar"
	onclick="window.location='{{ obj.url_index }}'; return false" />

{% endblock conteudo %}

