{% extends "base.html" %}
{% block conteudo %}
  
  <h1 align="center">
    Visualizar {{ obj.verbose }}
  </h1>
	<table>
   <tr>
     <td>
       ID
     </td>
     <td>
       {{ pessoa.pk }}
     </td>
   </tr>
   <tr>
     <td>
       Nome
     </td>
     <td>
       {{ pessoa.nome }}
     </td>
   </tr> 
   <tr>
     <td>
       Data de nascimento
     </td>
     <td>
       {{ pessoa.data_nascimento|date:"d/m/Y" }}
     </td>
   </tr> 
   <tr>
     <td>
       E-mail
     </td>
     <td>
       {{ pessoa.email }}
     </td>
   </tr> 
   <tr>
     <td>
       CEP
     </td>
     <td>
       {{ pessoa.cep }}
     </td>
   </tr> 
   <tr>
     <td>
       Número
     </td>
     <td>
       {{ pessoa.numero }}
     </td>
   </tr> 
   <tr>
     <td>
       Complemento
     </td>
     <td>
       {{ pessoa.complemento }}
     </td>
   </tr> 
   <tr>
     <td>
       Observação
     </td>
     <td>
       {{ pessoa.observacao }}
     </td>
   </tr> 
  </table>
  
  <input type="submit" value="Voltar" onclick="window.location='{{ obj.url_index }}'; return false" />
  	
{% endblock conteudo %}

