{% extends 'base.html' %}
{% block conteudo %}
 <!-- List of uploaded documents -->
    {% if lista %}
        <ul>
        {% for document in lista %}
            <li><a href="{{ document.foto.url }}">{{ document.descricao }}</a></li>
            
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class='formset-conteiner' addText="Adicionar Foto" deleteText="Remover Foto">
            	{% for form in forms %}
            		{{ form.as_p }}
        		{% endfor %}
            </div>
            <div class='formset-conteiner' addText="Inserir Foto" deleteText="Excluir Foto">
            	lala
            </div>
    		{{ forms.management_form }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>
        
        <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">TesteTeste 11
    	 <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#t1" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
		    <li role="presentation"><a href="#t2" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
  		</ul>
  		<div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="t1">
		    T1
		    </div>
		    <div role="tabpanel" class="tab-pane" id="t2">
		    T2
		    </div>
    	</div>
    
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">..TesTeste 1te 1</div>
    <div role="tabpanel" class="tab-pane" id="messages">..TestTeste 1e 1.Teste 1</div>
    <div role="tabpanel" class="tab-pane" id="settings">...Teste 1Teste 1</div>
  </div>

</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function() {
    	lista = $('.formset-conteiner')
        $(lista).formset({
        	addText: $(lista).attr('addText'),
        	deleteText: $(lista).attr('deleteText'),
        });
    })
</script>
{% endblock %}