{% extends 'base.html' %}
{% block conteudo %}
 <!-- List of uploaded documents -->
    {% if lista %}
        <ul>
        {% for document in lista %}
            <li><a href="{{ document.foto.url }}">{{ document.descricao }}</a></li>
            
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class='formset-conteiner' addText="Adicionar Foto" deleteText="Remover Foto">
            	{% for form in forms %}
            		{{ form.as_p }}
        		{% endfor %}
            </div>
            <div class='formset-conteiner' addText="Inserir Foto" deleteText="Excluir Foto">
    
            </div>
    		{{ forms.management_form }}
   
            <p><input type="submit" value="Upload" /></p>
        </form>
        

        

  
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function() {
    	lista = $('.formset-conteiner')
        $(lista).formset({
        	addText: $(lista).attr('addText'),
        	deleteText: $(lista).attr('deleteText'),
        });
    })
</script>
{% endblock %}