{% extends "base.html" %}

{% block conteudo %}
<form action="." method="post"> {% csrf_token %}
 
    <div class="tabs">
  <ul>
    <li><a href="#geral">Geral</a></li>
    <li><a href="#anamnese">Anamnese</a></li>
    <li><a href="#antropometria">Antropometria</a></li>
  </ul>
  <div id="geral">
    <h2>Informações gerais</h2>
    	{{avaliacaoForm.as_p}}
  </div>
  
  <div id="anamnese">
    <h2>Anamnese</h2>
    
    <div class="tabs">
      <ul>
        <li><a href="#objetivos">Objetivos</a></li>
        <li><a href="#historico">Histórico</a></li>
        <li><a href="#parq">Formulário PAR-Q</a></li>
        <li><a href="#dadosVitais">Dados Vitais</a></li>
      </ul>
      <div id="objetivos">
        {{ objetivosForm.as_p }}
      </div>
      <div id="historico">
        {{ historicoForm.as_p }}
      </div>
       <div id="parq">
        {{ parqForm.as_p }}
      </div>
       <div id="dadosVitais">
        {{ dadosVitaisForm.as_p }}
      </div>
      
    </div>

  </div>

  <div id="antropometria">
    <h2>Antropometria</h2>
      
      <div class="tabs">
      <ul>
        <li><a href="#circunferencias">Circunferências</a></li>
        <li><a href="#pesoAltura">Peso e Altura</a></li>
        <li><a href="#plicometria">Plicometria</a></li>
      </ul>
      <div id="circunferencias">
        {{ circunferenciasForm.as_p }}
      </div>
      <div id="pesoAltura">
        {{ pesoAlturaForm.as_p }}
      </div>
       <div id="plicometria">
        {{ plicometriaForm.as_p }}
      </div>
      
    </div>

  </div>

</div>
<input type="submit" value="Salvar" />
				<input type="submit" value="Cancelar" onclick="window.location={% url 'avaliacoes' %}; return false" />
			</form>
{% endblock conteudo %}
