{% extends "base.html" %}

{% block conteudo %}
	{{historicoForm.doencas}}
	{{historicoForm.atividades_fisicas}}

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
<button onclick="ajax();">Send an HTTP GET request to a page and get the result back</button>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    <form  action="/avaliacoes/form_doenca" method="post" class="formAjax"> {% csrf_token %}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
      	<div class="divForm">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>

  </div>
</div>

<script type="text/javascript">
$(".formAjax").submit(function() {
	form = $(this);

    $.ajax({
           type: $(this).attr('method'),
           url: $(this).attr('action'),
           data: $(this).serialize(), // serializes the form's elements.
           success: function(data)
           {
           		//se for zero, é sucesso, e manda um objeto com id e nome
           		 if(data['return'] == 0){
           		 	//retiro o modal da tela
           		 	$('#myModal').modal('hide');

           		 	//limpa todos dados do formulario,
           		 	//funciona pq foi atribuido fora do 'ajax'
           		 	form[0].reset();

           		 	//monto uma string com a opção
           		 	var option = '<option value="' + data['obj']['id'] + '">' + data['obj']['nome'] + '</option>'
           		 	//adiciono a opção no select
           		 	$('#id_historico-doencas').append(option)
           		 	//verifico se o select já tinha algo selecionado ou não, para adicionar o que acabou de ser registrado
           		 	selecionados = $('#id_historico-doencas').val();
           		 	if(selecionados == null){
           		 		selecionados = [data['obj']['id']]
           		 	}else{
           		 		selecionados.push(data['obj']['id']);
           		 	}
           		 	//adiciono ao select2
           		 	$('#id_historico-doencas').val(selecionados).trigger("change");
           		 }else{
           		 	$('#divForm').html(data['html'])
           		 }
           		 
           },
           error : function(data){
           	console.log(data);
           }
         });

    return false; // avoid to execute the actual submit of the form.
});

$(document).ready(function(){
    $("buttons").click(function(){
        $.get("/teste", function(data, status){
            alert("Data: " + data + "\nStatus: " + status);
        });
    });
});

function ajax(){
	$.get("/avaliacoes/form_doenca", function(data, status){
        //alert("Data: " + data + "\nStatus: " + status);
       $('.divForm').html(data)
       $('#myModal').modal('show');
    });
}
</script>
{% endblock conteudo %}